body {
  background: #1F2327;
}

h1, h2, h3, h4, h5 {
  margin-top:0;
}

h3 {
  color: gold;
}

.header{
  height: 60px;
  background: #282c34;
  width: 100%;
}

.header h1{
  display: block;
  padding-top: 10px !important;
  padding-left: 10px !important;
  color: white;
}

.top-section{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  background: #1F2327;
  color: white;
}

#left{
  width: 36%;
}

#right{
  width: 56%;
}

.map-card{
  width: 100%;
  height: 95%;
  padding: 8px;
  margin: 0 auto;
  background: #282c34;
  border-radius: 5px;
}

.news-card{
  background: #282c34;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 8px;
}

.news-content {
  flex: 1;
  display: flex;
  overflow: auto;
}

.news-box{
  display: flex;
}

.article-box{
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: white;
  border-radius: 5px;
  margin-right:5px;
}

.article-box h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: black;
  text-decoration: none;
}

.article-box img{
  width: 200px;
  height: 100px;
  display: block;
  margin: 0 auto;
  object-fit: fill;

}

.stats-card{
  background: #282c34;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 18px;
}

.stats-card tr, th{
  text-align: center;
  font-size: 14px;
}

.stats-card th {
  border-bottom: 1px solid white
}

.stats-card table{
  width: 100%;
}

.picker{
  background: #282c34;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-size: medium;
  margin-bottom: 18px;
}

.picker select{
  display: block;
  margin: 0 auto;
}

.bottom-section{
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-left: 2.5%;
  background: #1F2327;
  color: white;
  margin-top:10px;
}

.rankings-card{
  background: #282c34;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 18px;
  color: white;
  margin-right: 20px;
}

.rankings-card tr, th{
  text-align: center;
  font-size: 14px;
}

.rankings-card th {
  border-bottom: 1px solid white
}

.rankings-card table{
  width: 100%;
}

.total-card {
  background: #282c34;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 18px;
  color: white;
  margin-right: 20px;
  text-align: center;
}

.total-card h3{
  padding-top: 20px;
}
